.list {
    display: flex;
    height: 100%;
    width: 288px;
    flex-direction: column;
}


.listHeader {
    background: rgba(126,191,247,0.8);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(8px);
    display: grid;
    grid-template-areas: "title edit";
    align-items: center;
    grid-template-columns: auto 44px;
    padding: 18px 0;
}

.editTitle {
    background: transparent;
    outline: none;
    border:var(--color-primary) 2px solid;
    grid-column: 1/3;
    width: 100%;
    box-sizing: border-box;
}

.listTitle {
    margin-left: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listTitleEditButton {
    visibility: hidden;
    border: none;
    border-radius: 100px;
    grid-area: edit;
    width: 36px;
    height: 36px;
    background: rgba(60, 60, 60, 0);
    transition: 300ms linear all;
    display:flex;
    align-items: center;
    justify-content: center;
}

.listTitleEditButtonIcon {
    width: 24px;
    height: 24px;
}

.listHeader:hover > .listTitleEditButton {
    visibility: visible;
}

.listTitleEditButton:focus {
    outline: none;
}

.listTitleEditButton:hover {
    background: rgba(60, 60, 60, 0.3);
}

.items {
    display: flex;
    padding: 32px 8px;
    flex-direction: column;
    background: rgba(126,205,224,0.5);
    backdrop-filter: blur(12px);
    height: 100%;
    overflow-y: hidden;
}

.list:hover > .items{
    overflow-y: auto;
}



/*.item:not(:last-of-type){*/
/*    margin-bottom: 32px;*/
/*}*/


.addItemButton{
    width:100%;
    border-radius: 8px;
    padding: 16px 8px;
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(12px);
    border: none;
    transition: all linear 300ms;
}

.addItemButton:hover{
    background: rgba(255,255,255,0.75);
}

.addItemButton:focus{
    outline: none;
}

.addItemButton:active{
    background: rgba(220,220,220,0.6);
    border: none;
    transition: all linear 200ms;
}

.addItemIcon{
    width: 24px;
    height: 24px;
}

.contextMenu{
    position: relative;
    right:100%
}