h1{
    font-family: "Playball", serif ;
    font-size: 48px;
}

h2{
    font-family: "Playball", serif ;
    font-size: 36px;
    margin: 0;
}

h3{
    font-family: "Ledger", serif;
    font-size: 24px;
    margin:0;
    font-weight: 100;
}

.body1{
    font-family: "Ledger", serif;
    font-size: 18px;
}

.body2{
    font-family: "Ledger", serif;
    font-size: 14px;
}

button{
    font-family: "Ledger", serif;
    font-size: 16px;
}