.message {
    background-color: var(--color-primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    position: absolute;
    bottom: 0;
    padding: 16px 0;
    width: 20vw;
    left: 40vw;
    transition: all linear 500ms;
}

