.iconWrapper {
    border: none;
    border-radius: 100px;
    transition: all linear 200ms;
    background: rgba(126, 205, 224, 0);
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    margin-top: 8px;
    box-sizing: border-box;
}


.status {
    filter: brightness(80%);
    height: 32px;
    width: 32px;
}

.iconWrapper:hover {
    background: rgba(126, 205, 224, 0.4);;
}

.wrapper {
    height: 48px;
    width: 48px;
    margin-right: 16px;
}

.badge {
    text-align: center;
    color: white;
    padding: 2px 16px;
    background-color: var(--color-primary-dark);
    position: absolute;
    border-radius: 8px;
    transform: translate(-24px,16px);
    transition: all 100ms linear;
}
