.settings {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background: rgba(126,191,247,0.8);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: absolute;
    top:64px;
    transform:translateX(-90%);
    transition:all linear 100ms;
    min-width: 14vw;
}

.header {
    color: white;
    margin-bottom: 16px;
    margin-left: 8px;
    }

.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.color {
    width: 48px;
    height: 48px;
    margin: 0 8px 16px;
}

.uploadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background: rgba(126, 205, 224, 0);
    border: none;
    border-radius: 8px;
    transition: all ease-in 200ms;
}

.uploadButton:hover{
    background: rgba(126, 205, 224, 1);
}


.uploadButton:focus{
    outline: none;
}

.uploadButton:active{
    background: var(--button-active);
}



.uploadButtonIcon{
    height:32px;
    width: 32px;
    margin-left: 8px;
}

/*@keyframes settings-reveal {*/
/*    0%{*/
/*        filter: blur(12px);*/
/*        opacity: 0;*/
/*    }*/

/*    100%{*/
/*        opacity: 100%;*/
/*        filter: blur(0);*/
/*    }*/

/*}*/

.fileInput{
    display: none;
}